//coler
$a:rgba(17,47,65,1);
$b:rgba(6,133,135,1);
$c:rgba(242,177,52,1);
$d:rgba(79,185,159,1);
$e:rgba(237,85,59,1);
//main colors

$bg_primary: $a;

$bg_card:blue;
$bg_card_hover:red;

$tc_primary: $c;
$tc_secondary: $d;